{{template "base".}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text mt-4">About To Roomie</h1>
            <hr>
            <p>
                <img class="float-left img-fluid" src="/static/images/about.jpg" alt="About Roomie" style="inline-size: 40%; flex-flow: row; float: right;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, modi eum, nesciunt odit ipsum cumque beatae 
                quis quibusdam eveniet totam asperiores architecto,earum nulla facilis illo. Eius repellat eligendi aut.</p>
        </div>
    </div>
</div>
{{end}}