{{template "base".}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Contact Us</h1><hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d455.67587002409823!2d82.5747081401755!3d25.134695508809088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398fc14fa5faba8d%3A0x376b6276a89af695!2sRock%20%26%20Roller%20Earthmovers!5e0!3m2!1sen!2sin!4v1628959727143!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            
        </div>
        <div class="row">
            <div class="col">
                <h2 class="text-right" style="text-align: right;">Place where you can live</h2>
            </div>
        </div>
    </div>
</div>
{{end}}